---
title: Jacob Layson Music - About
---
<div class="container-fluid about-page">
  <h1 class="text-center">Presentation</h1>

  <div id="about-content">

    <div class="about-left">
      <p class="text-left presentation-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorem, accusamus velit cumque, rerum debitis consectetur non similique magni et recusandae dignissimos! Quis eligendi perspiciatis nobis? Est laboriosam iure, ea!
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse delectus magnam eveniet assumenda voluptatem nemo dicta id. Maiores omnis quod quis iste, at cumque repellendus, error ipsa tempore officiis eaque.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aperiam itaque earum, placeat nulla hic quos consequatur, nobis esse, amet omnis explicabo eum? Animi ex accusamus ut nisi vel quia.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam alias possimus iste inventore quia qui aspernatur dolorum ratione officia pariatur reprehenderit, voluptate nisi, dolor eveniet rerum, architecto doloremque tempora, cupiditate!
      </p>
    </div>

    <div class="about-right container">
      <div class="carousel slide carousel-fade multi-item-carousel hidden-xs" id="theCarousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "https://picsum.photos/600/600/?random", class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag "https://picsum.photos/600/600?image=50", class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag "https://picsum.photos/600/600?image=100",  class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag "https://picsum.photos/600/600?image=500", class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag "https://picsum.photos/600/600/?random", class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag "https://picsum.photos/600/600?image=455", class: "d-block w-100"%>
          </div>
          <div class="item">
            <%= image_tag " https://picsum.photos/600/600?image=865", class: "d-block w-100"%>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
