---
title: Jacob Layson Music - About
---
<div class="container about-page">

  <div class="about-content">
    <h1 class="text-center">Presentation</h1>
    <p class="text-center presentation-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorem, accusamus velit cumque, rerum debitis consectetur non similique magni et recusandae dignissimos! Quis eligendi perspiciatis nobis? Est laboriosam iure, ea!
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse delectus magnam eveniet assumenda voluptatem nemo dicta id. Maiores omnis quod quis iste, at cumque repellendus, error ipsa tempore officiis eaque.
    </p>
  </div>

  <div class="pic-slider col-xs-12">
      <div class="carousel slide multi-item-carousel hidden-xs" id="theCarousel">
  <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol> -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
     <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random",  class: "img-responsive"%></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></a></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
    <!-- add  more items here -->
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "salon1.jpg", class: "img-responsive"%></div>
    </div>
    <!-- Example item start:  -->
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "https://picsum.photos/200/300/?random", class: "img-responsive"%></div>
    </div>
    <div class="item">
      <div class="col-sm-3 col-md-4"><%= image_tag "terrasse5.jpg", class: "img-responsive"%></div>
    </div>

    <!--  Example item end -->
  </div>
    </div>
  </div>

</div>
